@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Special Elite', cursive;
	background-image: url("../img/mare.jpg");
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

blockquote {
	font-weight: 100;
	font-size: 1.2rem;
	max-width: 600px;
	line-height: 1.2;
	position: relative;
	margin: 0;
	padding: .5rem;
}


cite {
	line-height: 1.3;
	text-align: left;
}
